.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 300px;
  height: 79px;
  padding: 0 12px;

  span {
    cursor: default;
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 300px;
  padding: 8px 7px 0;

  border: 1px solid red;
}

.errorText {
  cursor: pointer;

  width: 100%;
  padding: 13px 0;

  font-family: Roboto, sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #f00;
}

.verificationBlock {
  position: relative;

  display: flex;
  gap: 13px;
  align-items: center;

  width: 100%;
  max-width: 175px;

  .errorText {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-75%);

    line-height: 1;
  }
}

.checkbox {
  all: revert;
  cursor: pointer;
  width: 20px;
  height: 20px;
}

.text {
  font-family: Roboto, sans-serif;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
}

.loader {
  width: 26px;
  height: 26px;

  border: 4px solid transparent;
  border-top: 4px solid #4d8df4;
  border-radius: 50%;

  animation: spin 1s linear infinite;
}

.box {
  width: 20px;
  height: 20px;

  background: var(--color-light-100);
  border: 1px solid var(--color-dark-100);
  border-radius: 1px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
