.typography {
  font-family: var(--font-family-primary), sans-serif;
  font-weight: var(--font-weight-regular);
}

.large {
  font-size: var(--font-size-xxl);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-l);
}

.h1 {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
}

.h2 {
  font-size: var(--font-size-l);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
}

.h3 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-m);
}

.regular_text_16 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
}

.bold_text_16 {
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
}

.regular_text_14 {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
}

.medium_text_14 {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-m);
}

.bold_text_14 {
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
}

.small_text {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-s);
}

.semibold_small_text {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-s);
}

.smaller_text {
  font-size: var(--font-size-xxs);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-xs);
}

.regular_link,
a.regular_link {
  cursor: pointer;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-m);
  color: var(--color-primary-500);
  text-decoration: underline;
}

.small_link,
a.small_link {
  cursor: pointer;

  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-s);
  color: var(--color-primary-500);
  text-decoration: underline;
}
