button {
  all: unset;
}

.buttonTrigger {
  padding-inline: 12px;

  color: var(--color-light-100);

  background: transparent;
  outline-color: var(--color-dark-300);

  transition:
    background 0.3s ease,
    outline-color 0.3s ease;

  &:hover {
    color: var(--color-light-100);
    background: var(--color-dark-500);
    outline-color: var(--color-dark-300);
    transition: outline-color 0.3s ease;
  }

  .iconTrigger {
    width: 24px;
    min-width: 24px;
    height: 24px;
  }

  &:disabled {
    color: var(--color-light-900);
    outline-color: var(--color-dark-300);
  }

  &:focus:not(:disabled) {
    color: var(--color-light-100);
    background: var(--color-dark-500);
    outline-color: var(--color-primary-900);
    transition: outline-color 0.3s ease;
  }
}

.activeBtnTrigger {
  background: var(--color-dark-500);
}

.triggerDisabled {
  background: var(--color-dark-500);
}

.error,
.error:hover,
.error:focus {
  color: var(--color-danger-500) !important;
  outline-color: var(--color-danger-500) !important;
}

.errorMessage {
  display: flex;
  height: 15px;
  color: var(--color-danger-500);
}

.mod {
  position: absolute;
  bottom: -14px;
  left: 0;
}

.popoverContent {
  will-change: transform, opacity;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.popoverContent[data-state='open'][data-side='top'] {
  animation-name: slide-down-and-fade;
}

.popoverContent[data-state='open'][data-side='right'] {
  animation-name: slide-left-and-fade;
}

.popoverContent[data-state='open'][data-side='bottom'] {
  animation-name: slide-up-and-fade;
}

.popoverContent[data-state='open'][data-side='left'] {
  animation-name: slide-right-and-fade;
}

@keyframes slide-up-and-fade {
  from {
    transform: translateY(2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-right-and-fade {
  from {
    transform: translateX(-2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-down-and-fade {
  from {
    transform: translateY(-2px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-left-and-fade {
  from {
    transform: translateX(2px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
