.layout {
}

.aside {
  width: 220px;
  //background-color: #ffff001a;
  position: fixed;
}

.sidebar {
}

.main {
  width: 100%;
  height: 100%;
  position: fixed;
  padding: var(--header-height) 64px 0 var(--sidebars-width);
}

ul {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

li {
  &:last-child {
    margin-top: 180px;
  }
}
//a {
//  display: flex;
//  gap: 12px;
//  cursor: pointer;
//
//  &:hover {
//    color: var(--color-primary-100);
//  }
//  &:active {
//    color: var(--color-primary-500);
//  }
//
//  &:focus,
//  &:focus-visible {
//    border: 2px solid var(--color-primary-700);
//  }
//  &:disabled {
//    color: var(--color-dark-100);
//  }
//}
