.container {
  position: relative;

  .error {
    input {
      color: var(--color-danger-500);
      border-color: var(--color-danger-500);

      &:hover {
        border-color: var(--color-danger-500) !important;
      }
    }
  }

  .input input:active {
    border-color: var(--color-dark-100);
  }

  .trigger {
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    justify-content: center;

    width: 24px;
    height: 100%;
    padding: 0;

    color: var(--color-light-100);

    background: transparent;
    outline: transparent !important;

    &:focus,
    &:hover {
      background: transparent;
      outline: transparent;
    }

    &:focus > svg {
      border-radius: 2px;
      outline: 1px solid var(--color-primary-500);
    }
  }
}
