.Content {
  position: relative;
  min-width: 80px;
  color: var(--color-light-100);
  background-color: var(--color-dark-500);
  border-radius: 2px;
  border: 1px solid var(--color-dark-100);
  z-index: 500;

  button {
    background-color: transparent;
  }
}

.triggerButton {
  cursor: pointer;
  color: var(--color-light-100);
  background-color: transparent;

  &[data-state='open'] {
    svg {
       color: var(--color-primary-500);
    }
  }

  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
  }

  svg {
    color: var(--color-light-100);

  }
}

.profile {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 4px 28px 0 0;

  &[data-disabled] {
    color: var(--color-dark-300);
    pointer-events: none;
  }

  img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
  }

  div {
    display: flex;
    flex-direction: column;

    .userName {
      color: var(--color-light-100);
    }

    .userEmail {
      color: var(--color-dark-100);
    }
  }
}

.Separator {
  margin: 12px;
  height: 1px;
  background-color: var(--color-dark-300);
}

.Arrow {
  position: absolute;
  top: -7px;
  right: -8px;
  width: 15px;
  height: 15px;
  transform: rotate(45deg);
  stroke: transparent;
  fill: transparent;
  border: 1px solid var(--color-dark-100);
  border-top: 0;
  border-left: 0;
  background-color: var(--color-dark-500);
  z-index: 999;
}
