.selector {
  width: 163px;

  &.mobile {
    width: fit-content;

    background: none;
    border: none;

    &:hover,
    &:focus,
    &:active {
      background: none;
    }
  }
}

.icon {
  margin-right: 2px;
}

.language {
  margin-left: 11px;
}

.selectItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
