.table {
  border: 1px solid var(--color-dark-500);
  border-collapse: collapse;
  color: var(--color-light-100);

  * {
    padding: 12px 24px;
  }
}

.tHeader {
  background: var(--color-dark-500);
}

.tr {
  text-align: left;
  border-bottom: 1px solid var(--color-dark-500);
}
