.table {
  border-collapse: collapse;
  color: var(--color-light-100);
  border: 1px solid var(--color-dark-500);
}

.tHeader {
  padding: 12px 24px;
}

.tr {
  text-align: left;
  border-bottom: 1px solid var(--color-dark-500);
}

.tHead {
  padding: 12px 24px;
}

.tCell {
  padding: 12px 24px;
}